doctype html
html
  head
    meta('charset' = 'utf-8')
    script("src" = "/mite/mite.js")
    script("src" = "/luxon.js")
  body
    h1 Timiter
    #static-info
      a#instance-link Open Mite
    #body-wrapper

    script("src" = "./timiter.js")
